%h3 Height, Weight and Gender Data Set

%table.table-striped#person_table
  %thead
    %tr
      %th Name
      %th Height
      %th Weight
      %th Sex

  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.height
      %td= person.weight
      %td= person.sex
      %td
        .span.label.label-success
          = link_to 'Show', person
      %td
        .span.label.label-info
          = link_to 'Edit', edit_person_path(person)
      %td
        .span.label.label-important
          = link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

%br

.span.label.label-inverse#person_button
  = link_to 'New Person', new_person_path
