<h1>Gender Guess</h1>

<%= form_tag guesses_path do %>
	<%=label_tag 'height (inches)' %>
	<%=text_field_tag 'height' %>

	<%=label_tag 'weight (lbs)' %>
	<%=text_field_tag 'weight' %>
	
	<div><%= submit_tag 'Save' %></div>
<% end %>


