<h1>Gender Guess</h1>

<%= form_tag guesses_path do %>
	<%=label_tag 'height (inches)' %>
	<%=text_field_tag 'height' %>

	<%=label_tag 'weight (lbs)' %>
	<%=text_field_tag 'weight' %>
	
	<div><%= submit_tag 'Save' %></div>
<% end %>

<<<<<<< HEAD
      <%= f.label :height %>
      <%= f.text_field :height %>

      <%= f.label :weight %>
      <%= f.text_field :weight %>



      <%= f.submit "Ask Miss Clea to Guess", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
=======

>>>>>>> a8bee1229962ed42dd89ca41a343dbf365cee47b
