= form_for @guess do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :height
    = f.number_field :height
  .field
    = f.label :weight
    = f.number_field :weight
  .actions
    = f.submit 