= form_for @guess do |f|

  .field
    = f.label "Height in Whole Inches"
    = f.number_field :height
  .field
    = f.label "Weight in Whole pounds"
    = f.number_field :weight
  .action
    = f.submit 'Guess a gender, mon'