%p#notice= notice

%p
  %b Height:
  = @guess.height
%p
  %b Weight:
  = @guess.weight
%p
  %b Miss Cleo thinks this person is 
  %b
    = @pop_state.guess(@guess.height, @guess.weight)
  


= link_to 'Back', new_guess_path